<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.tongrenlu.android.music"
    android:versionCode="4"
    android:versionName="Tongrenlu / 1.0.4" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:name="TongrenluApplication" 
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher" 
        android:label="@string/app_name" >
        <activity android:name="MainActivity" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="TrackActivity" 
            android:screenOrientation="portrait"></activity>
        
        <activity android:name="PlaylistTrackActivity" 
            android:screenOrientation="portrait"></activity>
        
        <activity android:name="AlbumInfoActivity" 
            android:screenOrientation="portrait"></activity>
        
        <activity android:name="MusicPlayerActivity" 
            android:screenOrientation="portrait" 
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"></activity>
        
        <activity android:name="SettingsActivity" ></activity>
        
        <service android:name="MusicService" android:exported="false">
            <intent-filter>
                <action android:name="info.tongrenlu.android.MusicService.action.STATE" />
	            <action android:name="info.tongrenlu.android.MusicService.action.TOGGLE_PLAYBACK" />
                <action android:name="info.tongrenlu.android.MusicService.action.TOGGLE_LOOP" />
                <action android:name="info.tongrenlu.android.MusicService.action.TOGGLE_SHUFFLE" />
	            <action android:name="info.tongrenlu.android.MusicService.action.PLAY" />
	            <action android:name="info.tongrenlu.android.MusicService.action.PAUSE" />
	            <action android:name="info.tongrenlu.android.MusicService.action.SKIP" />
	            <action android:name="info.tongrenlu.android.MusicService.action.REWIND" />
	            <action android:name="info.tongrenlu.android.MusicService.action.STOP" />
                <action android:name="info.tongrenlu.android.MusicService.action.ADD" />
                <action android:name="info.tongrenlu.android.MusicService.action.APPEND" />
            </intent-filter>
        </service>
        
        <service android:name="DownloadService" android:exported="false">
            <intent-filter>
                <action android:name="info.tongrenlu.android.DownloadService.action.STOP" />
                <action android:name="info.tongrenlu.android.DownloadService.action.ADD" />
            </intent-filter>
        </service>
        
        <service android:name="UpdateService"></service>
        
        <provider android:name=".provider.TongrenluContentProvider"
            android:authorities="info.tongrenlu.android.music"
            android:exported="false">
        </provider>
    </application>

</manifest>